
.title-first-part {
    font-size: 18px;
    font-weight: bold;
    opacity: .4;
}

.title-second-part {
    font-size: 18px;
    font-weight: bold;
}

.completed {
    border: 1px solid green;
    background-color: green;
}

.spacer {
    flex: 1 1 auto;
}